<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StockStick.com</title>
    <link
            href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
            rel="stylesheet"
    />
   <link href="/static/css/StockStick.css" rel="stylesheet"/>
    <script>
        function toggleMenu(element) {
          element.classList.toggle("change");
          const mobileMenu = document.getElementById("mobileMenu");
          if (mobileMenu.style.display === "block") {
            mobileMenu.style.display = "none";
          } else {
            mobileMenu.style.display = "block";
          }
        }
    </script>
</head>
<body>
<div class="header">
    <header class="header-content">
        <a href="/app/Inventory" class="logo">
            <div class="circle-crop">
                <img src="/static/image/websitelogo.png"
                alt="LogoImage" class="logo-icon"/>
            </div>
            <span class="logo-text">StockStick</span>
        </a>
        <nav class="nav">
            <a href="/app/StockStick.com" class="nav-link">Home</a>
            <a href="/app/Pricing" class="nav-link"> View Pricing</a>
            <a href="/app/AboutUs" class="nav-link">About</a>
            <a href="/app/terms_Policy" class="nav-link"> Terms & Privacy </a>
            <a href="/app/Inventory" class ="nav-link">Inventory</a>
        </nav>
        <a href="/app/ContactUs" class="contact-button">Contact-Us</a>
        <div class="theme-switch-wrapper">
            <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox" />
                <div class="slider round">
                    <div class="slider-icons">
                        <span class="sun">☀️</span>
                        <span class="moon">🌙</span>
                    </div>
                </div>
            </label>
        </div>
        <div class="hamburger" onclick="toggleMenu(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </header>
</div>
<div class="mobile-menu" id="mobileMenu">
    <a href="/app/Stockstick" class="mobile-nav-link">Home</a>
    <a href="/app/Pricing" class="mobile-nav-link">View Pricing</a>
    <a href="/app/AboutUs" class="mobile-nav-link">About</a>
    <a href="/app/ContactUs" class="mobile-nav-link">Contact-Us</a>
    <a href="/app/terms_Policy" class="mobile-nav-link"> Terms & Privacy</a>
    <a href="/app/Inventory" class ="mobile-nav-link">Inventory</a>
</div>
<div class="main-Container">
<div class="content">
    <section class="main-section">
        <div class="content-left">
            <p class="section-label">
                Efficient Inventory Solutions for Modern Businesses
            </p>
            <h1 class="section-title">StockStick</h1>
            <p class="section-description">
                StockStick is a robust Inventory Management System that streamlines
                processes, minimizes errors, and boosts efficiency. With real-time
                tracking, stock alerts, and seamless sales data integration, it
                optimizes inventory handling for business growth and customer
                satisfaction.
            </p>
            <div class="button-group">
                <a href="/app/Register" class="Getstarted-button">Get Started</a>
                <a href="/app/login" class="login-button">Login</a>
            </div>
        </div>
        <div class="content-right">
            <div class="image-container">
                <img
                        src="/static/image/hersection.webp"
                        alt="sectionImage"
                        class="section-image"
                />
            </div>
        </div>
    </section>
</div>
<!-- Testimonials -->
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <h1
                class="text-3xl font-medium title-font text-center text-gray-900 mb-12 slide-in"
        >
            Testimonials
        </h1>
        <div class="flex flex-wrap -m-4 slide-in">
            <div class="lg:w-1/3 lg:mb-0 mb-6 p-4">
                <div class="h-full text-center">
                    <img
                            alt="testimonial"
                            class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-200 bg-gray-100"
                            src="/static/image/88858faf-2c3c-4efa-96ce-4a9094201b34.jpg"
                    />
                    <p class="leading-relaxed">
                        StockStick has revolutionized our inventory management process.
                        The real-time tracking feature is a game-changer for our
                        business operations. Highly recommend!
                    </p>
                    <span
                            class="inline-block h-1 w-10 rounded bg-indigo-500 mt-6 mb-4"
                    ></span>
                    <h2
                            class="text-gray-900 font-medium title-font tracking-wider text-sm"
                    >
                        Harmony Wonder
                    </h2>
                    <p class="text-gray-500">CEO, ABC Corp</p>
                </div>
            </div>
            <div class="lg:w-1/3 lg:mb-0 mb-6 p-4">
                <div class="h-full text-center">
                    <img
                            alt="testimonial"
                            class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-200 bg-gray-100"
                            src="/static/image/3e75457a-1893-45ba-882b-549f1dc7a932.jpg"
                    />
                    <p class="leading-relaxed">
                        We've seen a significant reduction in errors and improved
                        efficiency since implementing StockStick. The seamless
                        integration with our sales data is fantastic.
                    </p>
                    <span
                            class="inline-block h-1 w-10 rounded bg-indigo-500 mt-6 mb-4"
                    ></span>
                    <h2
                            class="text-gray-900 font-medium title-font tracking-wider text-sm"
                    >
                        Jane Smith
                    </h2>
                    <p class="text-gray-500">Operations Manager, XYZ Inc.</p>
                </div>
            </div>
            <div class="lg:w-1/3 lg:mb-0 mb-6 p-4">
                <div class="h-full text-center">
                    <img
                            alt="testimonial"
                            class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-200 bg-gray-100"
                            src="/static/image/80362f5c-85a3-499f-a66c-7df0b27b8c87.jpg"
                    />
                    <p class="leading-relaxed">
                        StockStick has made inventory management a breeze. The stock
                        alerts ensure we're always prepared, and the user-friendly
                        interface is a joy to use.
                    </p>
                    <span
                            class="inline-block h-1 w-10 rounded bg-indigo-500 mt-6 mb-4"
                    ></span>
                    <h2
                            class="text-gray-900 font-medium title-font tracking-wider text-sm"
                    >
                        Edward Johnson
                    </h2>
                    <p class="text-gray-500">Store Manager, Retail Shop</p>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="footer-content">
        <p>&copy; 2023 StockStick. All rights reserved.</p>
        <nav class="footer-nav">
            <a href="/app/terms_Policy" class="footer-link"> Terms and Privacy Policy</a>
            <a href="/app/ContactUs" class="footer-link">Contact Us</a>
        </nav>
    </div>
</footer>
</div>
<script src="/static/javascript/StockStick.js"></script>
</body>
</html>
